.ticket-card {
    background: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    transition: .3s;
    border-left: 5px solid #2563eb;
}

    .ticket-card:hover {
        transform: translateY(-4px);
        box-shadow: 0 15px 35px rgba(0,0,0,.12);
    }

.ticket-number {
    background: #eef4ff;
    color: #2563eb;
    padding: 6px 10px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
}

.ticket-card h5 {
    margin-bottom: 10px;
}

.ticket-card p {
    color: #6b7280;
}

.ticket-card small {
    color: #9ca3af;
}

.ticket-card .btn {
    border-radius: 10px;
}
